$header: #ec755d;
$white: #ffffff;
$graph-background: #fffbf6;
$heading: #382314;
$day: #92857a;

main {
  padding: 4.188em 1em;
}

.header {
  background: $header;
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25em 1.5em 1.375em 1.25em;

  &__balance {
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 1.25rem;
    color: $white;
  }

  &__total {
    margin-block-start: 0.25rem;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.938rem;
    color: $white;
  }

  h1 {
    width: 3.75rem;
    height: 2.5rem;
  }

  &__logo {
    width: 3.75rem;
    height: 2.5rem;
  }
}

.graph {
  margin-block-start: 1rem;
  background: $graph-background;
  border-radius: 0.625rem;
  padding: 1.5rem 1.25rem;

  &__heading {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.938rem;
    color: $heading;
  }

  &__days {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 2px solid #f8e9dd;
    padding-block-end: 1.5rem;
    margin-block-start: 3.563rem;
  }

  &__day {
    min-width: 2.063rem;

    &__popup {
      font-weight: 700;
      font-size: 0.813rem;
      line-height: 1.125rem;
      color: #fffbf6;
      background: #382314;
      border-radius: 0.313rem;
      padding: 0.313em 0.313em 0.375em 0.313em;
      display: none;
      margin-block-end: 0.313rem;

      &--active {
        display: block;
        margin-block-start: -2.125rem;
      }
    }
    &__text {
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 1rem;
      text-align: center;
      color: $day;
    }

    &__bar {
      background: #ec755d;
      border-radius: 0.313rem;
      margin-block-end: 0.688rem;
      max-width: 2.063rem;

      &:hover {
        cursor: pointer;
        background: #ff9b86;
      }

      &--active {
        margin-inline-start: 0.563rem;
        margin-inline-end: 0.313rem;
      }

      &--max {
        background-color: #76b5bc;

        &:hover {
          background-color: #b4e0e5;
        }
      }
    }
  }

  .footer {
    margin-block-start: 1.5rem;
    display: flex;
    justify-content: space-between;

    &__text {
      font-weight: 400;
      font-size: 0.938rem;
      line-height: 1.25rem;
      text-align: right;
      color: $day;
    }

    &__total__number {
      margin-block-start: 0.25rem;
      font-weight: 700;
      font-size: 1.875rem;
      line-height: 2.438rem;
      color: $heading;
    }

    &__percentage {
      margin-block-start: 1.438rem;
      &__number {
        font-weight: 700;
        font-size: 0.938rem;
        line-height: 1.25rem;
        text-align: right;
        color: $heading;
      }
    }
  }
}

@media (min-width: 75em) {
  #root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  main {
    min-width: 572px;
    max-width: 572px;
  }

  .header {
    padding: 1.688rem 2.438rem 1.563rem 2rem;

    &__balance {
      font-size: 1.125rem;
      line-height: 1.438rem;
    }

    &__total {
      margin-block-start: 0.5rem;
      font-size: 2rem;
      line-height: 2.625rem;
    }

    h1 {
      width: 4.5rem;
      height: 3rem;
    }

    &__logo {
      width: 4.5rem;
      height: 3rem;
    }
  }

  .graph {
    padding: 2rem 2.5rem 2.5rem 2.5rem;

    &__heading {
      font-size: 2rem;
      line-height: 2.625rem;
    }

    &__days {
      padding-block-end: 2rem;
      margin-block-start: 4.125rem;
    }

    &__day {
      font-size: 0.938rem;
      line-height: 1.25rem;
      display: flex;
      flex-direction: column;

      &__popup {
        font-size: 1.125rem;
        line-height: 1.438rem;
        padding: 0.5em 0.5em 0.563em 0.5em;

        &--active {
          margin-block-start: -2.625rem;
        }
      }

      &__text {
        font-size: 0.938rem;
        line-height: 1.25rem;
      }

      &__bar {
        margin-block-end: 0.5rem;
        justify-self: center;
        margin-block-start: 0.5rem;
        min-width: 3.125rem;
      }
    }

    .footer {
      margin-block-start: 2rem;

      &__text {
        font-size: 1.125rem;
        line-height: 1.438rem;
      }

      &__total {
        &__text {
          text-align: left;
        }
      }

      &__total__number {
        margin-block-start: 0.063rem;
        font-size: 3rem;
        line-height: 3.875rem;
      }

      &__percentage {
        margin-block-start: 1.938rem;
        &__number {
          font-size: 1.125rem;
          line-height: 1.438rem;
        }
      }
    }
  }
}
