html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  background: #f8e9dd;
  min-height: 100vh;
}

p,
h1,
h2,
h3 {
  margin: 0;
}
